@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.about{
    padding: 30px 80px;
}

article img{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
}

article h1{
    font-size: 25px;
    font-weight: bold;
}

article h1:after{
    content: " ";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article p{
    font-size: 18px;
    font-weight: 500;
}

blockquote{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.socials{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
}

.fa{
    padding: 10px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-phone{
    background: #29b474;
    color: white;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.fa-github{
    background: black;
    color: white;
}
.fa-envelope{
    background : red;
    color: white ;
}
.fa-instagram{
    background: #dd2a7b;
    color: white;
}
.fa-whatsapp{
    background: #03c03c;
    color: white;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}
